<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppUrl" value="https://uat-clm.xpo.com/LastmilePortal/angular2/" />
	  <!--UserSettings-->
	  <add key="Username" value="supriya.mestry@xpo.com" />
	  <add key="Password" value="PASSWORD" />
	  <add key="Indiana" value="C:\Users\smestry\OneDrive - XPO Logistics\Desktop\VS\Success-06222022-INDIANA_20220605.csv" />
	  <add key="Boston" value="C:\AUTOMATION\ReorderProject\SuccessFilesCSV\SUCCESS-04052022-Boston.csv" />
	  <add key="Cranbury" value="C:\AUTOMATION\ReorderProject\SuccessFilesCSV\Success-08052022Cranbury_8-3-2022.csv" />
	  <add key="MDO" value="C:\AUTOMATION\ReorderProject\SuccessFilesCSV\SUCCESS-12022021-MDO_Test.csv" />
	  <add key="RouteIDCount" value="5" />
  </appSettings>
</configuration>